.hero-container {
   background-image: url("https://wallpaperaccess.com/full/2146330.jpg");
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;

   /*PARALLAX*/
   min-height: 50rem;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

.hero-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   opacity: 0.9;

}

@media (max-width: 425px) {
   .hero-container {
      background-position: center;

   }
}