.avatar-itinerary {
   width: 8rem;
   height: 8rem;
   border-radius: 100%;
   border: 3px solid #F05454;
   object-fit: cover;
   /* vertical-align: middle; */
}

.itinerary-title {
   background-color: #F5F5F5;
}

.itinerary-container {
   /* background-image: url("https://wallpaperaccess.com/full/2146330.jpg"); */
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;

   /*PARALLAX*/
   min-height: 30rem;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

.itinerary-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;


}

.container-card-itinerary {

   border: solid 5px #F05454;


}

/* .back-to-cities {
   background-color: #F5F5F5;

   color: #F05454;
   border: 2px solid #F05454;
} */

.back-to-cities-link {
   text-decoration: none;
}

.btn-detail {
   padding: 0.8em 1.8em;
   border: 3px solid #F05454;
   position: relative;
   overflow: hidden;
   background-color: #F5F5F5;
   text-align: center;
   text-transform: uppercase;
   font-size: 1rem;
   transition: .3s;
   z-index: 1;
   font-family: inherit;
   color: #F05454;
   /*grow effect*/
   transition: all .2s ease-in-out;

}

.btn-detail:hover::before {
   width: 105%;
}

.btn-detail:hover {
   color: #30475E;
   /*grow effect*/
   transform: scale(1.1);
}