.signup-container {
   min-height: 80vh;

}

.signup-form {
   background-color: #f5f5f5;
   opacity: 0.9;
   min-width: 50vh;
}

/* .form_signin {
   border: solid 1px linear-gradient(to right, #F05454, #f5f5f5, #30475E);
} */

.form_signin {
   border: 5px solid;
   border-image: linear-gradient(to right, #F05454, #f5f5f5, #30475E) 1;

}

.form__group {
   position: relative;
   padding: 20px 0 0;
   margin-top: 10px;
   width: 100%;
   min-width: 500px;
}

.form__field {
   font-family: inherit;
   width: 100%;
   border: none;
   border-bottom: 2px solid #9b9b9b;
   outline: 0;
   font-size: 17px;
   color: #fff;
   padding: 7px 0;
   background: transparent;
   transition: border-color 0.2s;
}

.form__field::placeholder {
   color: transparent;
}

.form__field:placeholder-shown~.form__label {
   font-size: 17px;
   cursor: text;
   top: 20px;
}

.form__label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 17px;
   color: #000000;
   pointer-events: none;
}

.form__field:focus {
   padding-bottom: 6px;
   font-weight: 700;
   border-width: 3px;
   border-image: linear-gradient(to right, #F05454, #f5f5f5, #30475E);
   border-image-slice: 1;
}

.form__field:focus~.form__label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 17px;
   color: #F05454;
   font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
   box-shadow: none;
}

.container-signup {
   background-image: url("https://wallpapercave.com/wp/wp7318054.jpg");
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-signin {
   background-image: url("https://wallpapercave.com/wp/wp10387382.jpg");
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sign-button {
   color: #f5f5f5;
   background-color: #F05454 !important;
   border: solid 2px #30475E;
}

.sign-button:hover {
   background-color: #30475E !important;
   border: solid 2px #F05454;
}