.calltoaction-container {

   background-color: #F05454;
   min-height: 20vh
}

.calltoaction-img {
   width: 50%;
   object-fit: contain;

}

.text-call {
   background-color: #F5F5F5;
}

.btn-travel {
   padding: 0.8em 1.8em;
   border: 3px solid #F5F5F5;
   position: relative;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
   text-transform: uppercase;
   font-size: 1rem;
   transition: .3s;
   z-index: 1;
   font-family: inherit;
   color: #F5F5F5;
   /*grow effect*/
   transition: all .2s ease-in-out;

}

.btn-travel::before {
   content: '';
   width: 0;
   height: 300%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
   background: #F5F5F5;
   transition: .5s ease;
   display: block;
   z-index: -1;
}

.btn-travel:hover::before {
   width: 105%;
}

.btn-travel:hover {
   color: #121212;
   /*grow effect*/
   transform: scale(1.1);
}

@media (max-width: 830px) {
   .calltoaction-img {
      width: 8.25rem;
   }

   .btn-travel {
      font-size: 0.5rem;
   }

   .text-call {
      font-size: 1.125rem;
   }
}