.card-container {
   width: 40%;
   margin: 1rem;
   border: 10px solid #F5F5F5;
}

.img-card {
   height: 15rem;
   object-fit: cover;
}

.card-container {
   background-color: #F5F5F5;
}

@media (max-width: 990px) {
   .card-container {
      width: 100%;

   }
}